			<div class="page-wrapper">
				<div class="content">
					<div class="page-header">
						<div class="add-item d-flex">
							<div class="page-title">
								<h4>TimerJobs</h4>
								<h6>All Mobile Notifications</h6>
							</div>
						</div>
						<ul class="table-top-head">
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="Pdf"><img src="{{ url_for('static',filename='assets/imgpcode/pdf.svg') }}" alt="img"></a>
							</li>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="Excel"><img src="{{ url_for('static',filename='assets/imgpcode/excel.svg') }}" alt="img"></a>
							</li>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="Print"><i data-feather="printer" class="feather-rotate-ccw"></i></a>
							</li>
							<li>
<!--								<a data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"><i data-feather="rotate-ccw" class="feather-rotate-ccw"></i></a>-->
							<a href="{{ url_for('TimerJobsapp.getScheduleJobs') }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh">
										<i data-feather="rotate-ccw" class="feather-rotate-ccw"></i>
									</a>

							</li>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse" id="collapse-header"><i data-feather="chevron-up" class="feather-chevron-up"></i></a>
							</li>
						</ul>
						<div class="page-btn">
							<a href="#" class="btn btn-added" data-bs-toggle="modal" data-bs-target="#add-sales-new">BookMyOt Mobile Notifications
</a>
						</div>
					</div>


					<!-- /product list -->
					<div class="card table-list-card" >
						<div class="card-body" style="max-height: 100px, overflow-y:auto">
							<div class="table-top">
								<div class="search-set">
									<div class="search-input">
										<a href="" class="btn btn-searchset"><i data-feather="search" class="feather-search"></i></a>
									</div>
								</div>
								<div class="search-path">
									<div class="d-flex align-items-center">
										<a class="btn btn-filter" id="filter_search">
											<i data-feather="filter" class="filter-icon"></i>
											<span><img src="{{ url_for('static',filename='assets/imgpcode/closes.svg') }}" alt="img"></span>
										</a>

									</div>
								</div>
							</div>

							<!-- /Filter -->
<!--							<form id="filterForm" action="/BookMyOtMobileNotifications" method="POST">-->

<!--							<div class="card" id="filter_inputs">-->
<!--								<div class="card-body pb-0">-->
<!--									<div class="row">-->
<!--&lt;!&ndash;										<div class="col-lg-3 col-sm-6 col-12">&ndash;&gt;-->
<!--&lt;!&ndash;											<div class="input-blocks">&ndash;&gt;-->
<!--&lt;!&ndash;												<i data-feather="user" class="info-img"></i>&ndash;&gt;-->
<!--&lt;!&ndash;												<select class="select" name="title">&ndash;&gt;-->
<!--&lt;!&ndash;													<option value="title">Titles</option>&ndash;&gt;-->
<!--&lt;!&ndash;													{% if filterdata and filterdata|length > 0 %}&ndash;&gt;-->
<!--&lt;!&ndash;														{% for row in filterdata %}&ndash;&gt;-->
<!--&lt;!&ndash;														<option value="{{ row[0] }}">{{ row[0] }}</option>&ndash;&gt;-->
<!--&lt;!&ndash;														{% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;													{% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;												</select>&ndash;&gt;-->
<!--&lt;!&ndash;											</div>&ndash;&gt;-->
<!--&lt;!&ndash;										</div>&ndash;&gt;-->
<!--										<div class="col-lg-2 col-sm-6 col-12">-->
<!--											<div class="input-blocks">-->
<!--												<div class="input-groupicon calender-input">-->
<!--													<i data-feather="calendar" class="info-img"></i>-->
<!--														<input type="text" class="datetimepicker" name="chosen_date" placeholder="Choose Date" required>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->

<!--										<div class="col-lg-2 col-sm-6 col-12" >-->
<!--											<div class="input-blocks">-->
<!--												<button type="submit" class="btn btn-filters ms-auto"><i data-feather="search" class="feather-search"></i> Search</button>-->
<!--											</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--							</form>-->

							<!-- /Filter -->
							{% if data and data|length > 0 %}
							<div class="table-responsive">

								<table class="table  datanew">

									<thead>
										<tr>
											<th class="no-sort">
												<label class="checkboxs">
													<input type="checkbox" id="select-all">
													<span class="checkmarks"></span>
												</label>
											</th>
											<th>SuperId</th>
											<th>ProcessUrl</th>
											<th>StartDateStr</th>
											<th>StartTimeStr</th>
											<th>EndTimeStr</th>
											<th>intervalType</th>
											<th>Interval</th>
											<th>Notes</th>
											<th>DeviceId</th>
											<th>Notify</th>
											<th>FailedAttemptstoNotify</th>

                    					</tr>
									</thead>

									<tbody class="sales-list">

										{% for row in data %}
											<tr>
												<td>
													<label class="checkboxs">
														<input type="checkbox">
														<span class="checkmarks"></span>
													</label>
												</td>
												<td>{{ row['SuperId'] }}</td>
												<td>
                                            <i data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="top" data-bs-original-title="{{ row['ProcessUrl'] }}" class="fa-regular fa-envelope text-primary fs-5"></i>
												</td>
												<td>{{ row['StartDateStr'] }}</td>
												<td>{{ row['StartTimeStr'] }}</td>
												<td>{{ row['EndTimeStr'] }}</td>
												<td>{{ row['intervalType'] }}</td>
												<td>{{ row['Interval'] }}</td>
												<td>{{ row['Notes'] }}</td>
												<td>{{ row['DeviceId'] }}</td>
												<td>{{ row['Notify'] }}</td>
												<td>{{ row['FailedAttemptstoNotify'] }}</td>

<!--												<td>-->
<!--                                            <i data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="top" data-bs-original-title="{{ row['toaddr'] }}" class="fa-regular fa-envelope text-primary fs-5 "></i>-->
<!--												</td>-->
<!--												<td>-->

<!--&lt;!&ndash;														<button type="button" class="btn btn-primary" data-bs-custom-class="tooltip-light" data-bs-toggle="tooltip" data-bs-html="true" title="" data-bs-original-title="{{ row['BodyEmail'] }}">&ndash;&gt;-->
<!--&lt;!&ndash;														  Template&ndash;&gt;-->
<!--&lt;!&ndash;														</button>&ndash;&gt;-->
<!--												<div class="card-body">-->
<!--													<div class="btn-list popover-list d-flex">-->
<!--&lt;!&ndash;														<button class="btn btn-primary" type="button" data-bs-toggle="popover" title="" data-bs-html="true" data-bs-content="{{ row['BodyEmail'] }}" data-bs-original-title="{{ row['Subjectemail'] }}">Template</button>&ndash;&gt;-->
<!--														<button class="example-popover btn btn-primary" type="button" data-bs-trigger="hover"  data-bs-html="true" data-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="" data-offset="-20px -20px" data-bs-content="{{ row['BodyEmail'] }}" data-bs-original-title="{{ row['Subjectemail'] }}">Template</button>-->

<!--														<form action="/mailtemplate" method="post" target="_blank">-->
<!--															<input type="hidden" name="templatestring" value="{{ row['BodyEmail'] }}" >-->
<!--															<button class="btn btn-primary" type="submit">-->
<!--																<i class="fa fa-eye"></i>-->
<!--															</button>-->
<!--														</form>-->
<!--													</div>-->
<!--												</div>-->

<!--											</td>-->
												{% endfor %}
											</tr>

									</tbody>

								</table>

							</div>

							{% else %}
								<p class="text-center fs-2">No Data Available</p>
								{% endif %}



						</div>
					</div>
					<!-- /product list -->
				</div>
			</div>

        </div>
		<!-- /Main Wrapper -->