			<div class="page-wrapper">
				<div class="content">
					<div class="page-header">
						<div class="add-item d-flex">
							<div class="page-title">
								<h4>Zoho</h4>
								<h6>Configurations</h6>
							</div>
						</div>
						<ul class="table-top-head">
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="Pdf"><img src="{{ url_for('static',filename='assets/imgpcode/pdf.svg') }}" alt="img"></a>
							</li>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="Excel"><img src="{{ url_for('static',filename='assets/imgpcode/excel.svg') }}" alt="img"></a>
							</li>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="Print"><i data-feather="printer" class="feather-rotate-ccw"></i></a>
							</li>
							<li>
<!--								<a data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"><i data-feather="rotate-ccw" class="feather-rotate-ccw"></i></a>-->
									<a href="{{ url_for('indexatt') }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh">
										<i data-feather="rotate-ccw" class="feather-rotate-ccw"></i>
									</a>

							</li>
							<li>
								<a data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse" id="collapse-header"><i data-feather="chevron-up" class="feather-chevron-up"></i></a>
							</li>
						</ul>
						<div class="page-btn">
							<a href="#" class="btn btn-added" data-bs-toggle="modal" data-bs-target="#add-sales-new">Zoho
							</a>
						</div>
					</div>
					<!-- /product list -->
					<div class="card table-list-card" >
						<div class="card-body" style="max-height: 100px, overflow-y:auto">
							<div class="table-top">
								<div class="search-set">
									<div class="search-input">
										<a href="" class="btn btn-searchset"><i data-feather="search" class="feather-search"></i></a>
									</div>
								</div>
								<div class="search-path">
									<div class="d-flex align-items-center">
										<a class="btn btn-filter" id="filter_search">
											<i data-feather="filter" class="filter-icon"></i>
											<span><img src="{{ url_for('static',filename='assets/imgpcode/closes.svg') }}" alt="img"></span>
										</a>
									</div>
								</div>
							</div>

							<!-- /Filter -->
<!--							<form id="filterForm" action="/zohosettings" method="POST">-->

<!--							<div class="card" id="filter_inputs">-->
<!--								<div class="card-body pb-0">-->
<!--									<div class="row">-->
<!--&lt;!&ndash;										<div class="col-lg-3 col-sm-6 col-12">&ndash;&gt;-->
<!--&lt;!&ndash;											<div class="input-blocks">&ndash;&gt;-->
<!--&lt;!&ndash;												<i data-feather="user" class="info-img"></i>&ndash;&gt;-->
<!--&lt;!&ndash;												<select class="select" name="log_type">&ndash;&gt;-->
<!--&lt;!&ndash;													<option value="type">Logs</option>&ndash;&gt;-->
<!--&lt;!&ndash;													<option value="4">whatsapp</option>&ndash;&gt;-->
<!--&lt;!&ndash;													<option value="1">Mails</option>&ndash;&gt;-->
<!--&lt;!&ndash;													<option value="2">MailAttachments</option>&ndash;&gt;-->
<!--&lt;!&ndash;													<option value="3">MailWithBcc</option>&ndash;&gt;-->
<!--&lt;!&ndash;												</select>&ndash;&gt;-->
<!--&lt;!&ndash;											</div>&ndash;&gt;-->
<!--&lt;!&ndash;										</div>&ndash;&gt;-->
<!--										<div class="col-lg-2 col-sm-6 col-12">-->
<!--											<div class="input-blocks">-->
<!--												<i data-feather="stop-circle" class="info-img"></i>-->
<!--												<select class="select" name="Attandancetype">-->
<!--													<option value="ischeckin">Attandance</option>-->
<!--													<option value="1">CheckIn</option>-->
<!--													<option value="0">CheckOut</option>-->
<!--												</select>-->
<!--											</div>-->
<!--										</div>-->
<!--										<div class="col-lg-2 col-sm-6 col-12">-->
<!--											<div class="input-blocks">-->
<!--												<i data-feather="stop-circle" class="info-img"></i>-->
<!--												<select class="select" name="ispushed">-->
<!--													<option value="ispushed">ispushed</option>-->
<!--													<option value="1">success</option>-->
<!--													<option value="0">Failed</option>-->
<!--												</select>-->
<!--											</div>-->
<!--										</div>-->
<!--										<div class="col-lg-2 col-sm-6 col-12">-->
<!--											<div class="input-blocks">-->
<!--												<div class="input-groupicon calender-input">-->
<!--													<i data-feather="calendar" class="info-img"></i>-->
<!--														<input type="text" class="datetimepicker" name="chosen_date" placeholder="Choose Date" required>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->

<!--										<div class="col-lg-2 col-sm-6 col-12" >-->
<!--											<div class="input-blocks">-->
<!--&lt;!&ndash;												<a class="btn btn-filters ms-auto"> <i data-feather="search" class="feather-search"></i> Search </a>&ndash;&gt;-->
<!--													                        <button type="submit" class="btn btn-filters ms-auto"><i data-feather="search" class="feather-search"></i> Search</button>-->
<!--											</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--							</form>-->

							<!-- /Filter -->
							{% if data and data|length > 0 %}
							<div class="table-responsive">

								<table class="table  datanew">

									<thead>
										<tr>
											<th class="no-sort">
												<label class="checkboxs">
													<input type="checkbox" id="select-all">
													<span class="checkmarks"></span>
												</label>
											</th>
											<th>Id</th>
											<th>clientId</th>
											<th>clientSecret</th>
											<th>refreshToken</th>
											<th>accessToken</th>
											<th>zohoTokenUrl</th>
											<th>attendanceApiUrl</th>
											<th>isActive</th>
											<th>createdOn</th>
                    					</tr>
									</thead>


									<tbody class="sales-list">

										{% for row in data %}
											<tr>
												<td>
													<label class="checkboxs">
														<input type="checkbox">
														<span class="checkmarks"></span>
													</label>
												</td>
												<td>{{ row['id'] }}</td>
<!--												<td>{{ row['clientId'] }}</td>-->
												<td >
													<i data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="top" data-bs-original-title="{{ row['clientId'] }}" class="fa-regular fa-comment text-primary fs-5"></i>
												</td>
<!--												<td>{{ row['clientSecret'] }}</td>-->
												<td >
													<i data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="top" data-bs-original-title="{{ row['clientSecret'] }}" class="fa-regular fa-comment text-primary fs-5"></i>
												</td>
<!--												<td>{{ row['refreshToken'] }}</td>-->
												<td >
													<i data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="top" data-bs-original-title="{{ row['refreshToken'] }}" class="fa-regular fa-comment text-primary fs-5"></i>
												</td>
<!--												<td>{{ row['accessToken'] }}</td>-->
												<td >
													<i data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="top" data-bs-original-title="{{ row['accessToken'] }}" class="fa-regular fa-comment text-primary fs-5"></i>
												</td>
<!--												<td>{{ row['zohoTokenUrl'] }}</td>-->
												<td >
													<i data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="top" data-bs-original-title="{{ row['zohoTokenUrl'] }}" class="fa-regular fa-comment text-primary fs-5"></i>
												</td>
<!--												<td>{{ row['attendanceApiUrl'] }}</td>-->
												<td >
													<i data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="top" data-bs-original-title="{{ row['attendanceApiUrl'] }}" class="fa-regular fa-comment text-primary fs-5"></i>
												</td>
												<td>
													{% if row['isActive'] == 1 %}
														<i data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="top" data-bs-original-title="Active" class="fa fa-check text-primary fs-5"></i>
													{% else %}
														<i data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="top" data-bs-original-title="InActive" class="fa fa-times-circle text-primary fs-5"></i>
													{% endif %}
												</td>

												<td>{{ row['createdOn'] }}</td>
												{% endfor %}
											</tr>

									</tbody>

								</table>

							</div>

							{% else %}
								<p class="text-center fs-2">No Data Available</p>
								{% endif %}



						</div>
					</div>
					<!-- /product list -->
				</div>
			</div>

        </div>
		<!-- /Main Wrapper -->